<div id="login-form" >
  <mat-card id="mat-card-login">
    <img mat-card-image src="assets/images/ofwbanner_400_x_100.png">
    <mat-tab-group>
      <mat-tab label="Login">
        <app-login-tab></app-login-tab>
      </mat-tab>
      <mat-tab label="Forgot Password">
        <app-forgot-password-tab></app-forgot-password-tab>
      </mat-tab>
      <mat-tab label="Inquire Certificate">
        Inquire Certificate
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
