#mat-card-login {
  height: 600px;
}

#login-form {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  width: 600px;
  height: 600px;
  margin-top: 5%;
  border-radius: 3px;
}

.login-tab{
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.login-label{
  margin: auto;
  padding-right: 0px;
}

.mat-form-field-wrapper{
  width: 300px !important;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.button-row{
  text-align: right;
}