<div class="login-tab">
  <div class="login-container">
    <mat-form-field class="login-full-width">
      <input matInput value="" placeholder="Email">
    </mat-form-field>
  </div>
  <div class="login-container">
    <mat-form-field  class="login-full-width">
      <input matInput value="" placeholder="Username">
    </mat-form-field>
  </div>
  <br>
  <div class="button-row">
    <button mat-raised-button color="primary">Reset</button>
  </div>
</div>
